{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Create new post{% endblock%}

{% block body %}
    <h1>Create new post</h1>
    {% include 'BloggerBlogBundle:Blog:form.html.twig' with { 'form': form } %}
{% endblock %}