{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Update post{% endblock%}

{% block body %}
    <h1>Update post</h1>
    {% include 'BloggerBlogBundle:Blog:form.html.twig' with { 'form': form, 'actionPath': actionPath } %}
{% endblock %}