# ignore svn
.svn

# ignore zendstudio and netbeans
.settings
.buildpath
.project
nbproject

/.metadata/

# ignore symfony2
web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
composer.phar
