# ignore svn
.svn

# ignore zendstudio and netbeans
.settings
.buildpath
.project
nbproject

/.metadata/

# ignore symfony2
web/bundles/
web/uploads/
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
vendor/
build/
composer.phar
