{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
	<header>
        <h1>Contact Us</h1>
    </header>
    
    <p>Do you want to contact us?</p>
{% endblock %}